/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #fff;
  }
}

*,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
  height: min-content;
}

.container {
  max-width: 768px;
  padding: 100px;
  text-align: center;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav > ul > li {
  display: inline-block;
  &:not(:last-child):after {
    content: '|';
    padding: 5px;
  }
}

section {
  margin: 40px 0;
}

section > ul:not(:last-child) {
  margin-bottom: 40px;
}

section li {
  padding: 10px;
  text-align: left;
  line-height: 20px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
  &:link {
    color: #0086e6;
  }
  &:visited {
    color: #0086e6;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  section {
    padding-left: 20px;
  }
}
